body {
  color: seagreen;
}

h1 {
  color: greenyellow;
}

.quote {
  color: yellowgreen;
}

.quote.narrator {
  color: orangered;
}

#intro p {
  color: blueviolet;
}

.super-important-omg {
  font-size: 29px;
  background-color: burlywood;
}
